<html>
  <head>
    <meta charset="utf-8" />
    <title>ระบบสารบรรณอิเล็กทรอนิกส์</title>
  </head>
  <body class="clean-body" style="margin: 0; padding: 0; -webkit-text-size-adjust: 100%; background-color: #ffffff;">
    <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" class="nl-container" role="presentation" style="table-layout: fixed; vertical-align: top; min-width: 320px; border-spacing: 0; border-collapse: collapse; background-color: #ffffff; width: 100%;" valign="top" width="100%">
      <tbody>
        <tr style="vertical-align: top;" valign="top">
          <td style="word-break: break-word; vertical-align: top;" valign="top">
            <div style="background-color:#ffffff;">
              <div class="block-grid" style="min-width: 320px; max-width: 680px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; margin: 0 auto; background-color: transparent;">
                <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
                  <div class="col num12" style="min-width: 320px; max-width: 680px; display: table-cell; vertical-align: top; width: 680px;">
                    <div class="col_cont" style="width:100% !important;">
                      <div style="border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;">
                        <div align="center" class="img-container center fixedwidth" style="padding-right: 0px;padding-left: 0px; margin-top:40px;">
                          <a href="#" style="outline:none" tabindex="-1" target="_blank"> <img align="center" alt="" border="0" class="center fixedwidth" src="{{.Image}}" style="text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; width: 100%; max-width: 110px; display: block;" title="สำนักเลขาธิการคณะรัฐมนตรี" width="110"></a>
                        </div>
                        <div style="color:#666; font-family: 'Arial', sans-serif; line-height:1.5; padding-top:10px; padding-right:10px; padding-bottom:10px; padding-left:10px;">
                          <div style="line-height: 2.0; font-size: 12px; color: #15466e; font-family: Arial, sans-serif; margin-bottom: 20px;">
                            <p style="font-size: 14px; line-height: 2.0; word-break: break-word; text-align: center; margin: 0;"><strong><span style="font-size: 16px; font-weight: 500;">พีเคเอ็ม คอนซัลติ้ง กรุ๊ป จำกัด</span></strong></p>
                            <p style="font-size: 14px; line-height: 1.0; word-break: break-word; text-align: center; margin: 0;"><strong><span style="font-size: 14px; font-weight: 400;">ระบบสารบรรณอิเล็กทรอนิกส์</span></strong></p>
                          </div>
                          <div style="color:#666; font-family: 'Arial', sans-serif; line-height:1.5; padding-top:10px; padding-right:10px; padding-bottom:10px; padding-left:10px;">
                            <div style="line-height: 2.0; font-size: 12px; color: #15466e; font-family: Arial, sans-serif; margin-bottom: 5px;">
                              <p style="font-size: 14px; line-height: 2.0; word-break: break-word; text-align: left; margin: 0;">
                                <strong><span style="font-size: 20px; font-weight: 600;">{{ .Greeting }} {{ .Receive_name }}</span></strong>
                              </p>
                            </div>
                            <div style="line-height: 1.5; font-size: 12px; color: #333333; font-family: Arial, sans-serif;">
                              <p style="font-size: 16px; line-height: 1.5; word-break: break-word; text-align: left; margin: 0;">
                                {{ .Message }}
                              </p>
                            </div>
                            <br>
                            <div style="line-height: 1.5; font-size: 12px; color: #333333; font-family: Arial, sans-serif;">
                              <p style="font-size: 16px; line-height: 1.5; word-break: break-word; text-align: left; margin: 0;">
                                <a href="{{ .Link }}" title="ลิงก์ดาวน์โหลดเอกสาร">{{ .Link }}</a>
                              </p>
                            </div>
                            <div style="line-height: 2.0; font-size: 12px; color: #333333; font-family: Arial, sans-serif; margin-bottom: 5px; margin-top: 20px;">
                              <p style="font-size: 16px; line-height: 1.5; word-break: break-word; text-align: left; margin: 0; ">
                                <!-- {{ .Detail }} -->
                                รายละเอียดตามเอกสารที่ส่งมาด้วย
                              </p>
                            </div>
                            <div style="line-height: 2.0; font-size: 12px; color: #333333; font-family: Arial, sans-serif; margin-bottom: 20px; margin-top: 20px;">
                              <p style="font-size: 16px; line-height: 2.0; word-break: break-word; text-align: left; margin: 0; text-indent: 50px">
                                {{ .Signature }} 
                              </p>
                              <p style="font-size: 16px; line-height: 2.0; word-break: break-word; text-align: left; margin: 0;">
                                {{ .Department_name }}
                              </p>
                            </div>
                            <div style="line-height: 2.0; font-size: 12px; color: #333333; font-family: Arial, sans-serif; margin-bottom: 20px; margin-top: 20px; border-bottom: #030303 dashed 1px; padding-bottom: 15px;">
                              <p style="font-size: 16px; line-height: 2.0; word-break: break-word; text-align: left; margin: 0;">
                                {{ .Contact_name }}
                              </p>
                              <p style="font-size: 16px; line-height: 2.0; word-break: break-word; text-align: left; margin: 0;">
                                {{ .Contact }}
                              </p>
                            </div>
                            <div style="line-height: 2.0; font-size: 12px; color: #333333; font-family: Arial, sans-serif; margin-bottom: 20px; margin-top: 20px;">
                              <p style="font-size: 16px; line-height: 2.0; word-break: break-word; text-align: left; margin: 0; margin-bottom: 15px;">
                                {{ if .Reply_message }}
                                  {{ .Reply_message }}
                                “หากท่านได้รับอีเมลนี้แล้วกรุณาแจ้งการได้รับกลับมายังที่อยู่อีเมลนี้ด้วยจะขอบคุณยิ่ง”
                                {{ else }}
                                  “หากท่านได้รับอีเมลนี้แล้วกรุณาแจ้งการได้รับกลับมายังที่อยู่อีเมลนี้ด้วยจะขอบคุณยิ่ง”
                                {{ end }}
                              </p>
                              <p id="Disclaimer" style="font-size: 15px; line-height: 2.0; color: #15466e; font-style: italic; word-break: break-word; text-align: left; margin: 0;  margin-bottom: 10px">
                                {{ if .Disclaimer }}
                                  {{ .Disclaimer }}
                                {{ else }}
                                  **อีเมล(และ/หรือเอกสารแนบ) นี้เป็นข้อมูลที่เป็นความลับและอาจเป็นข้อมูลที่เป็นเอกสิทธิ์เฉพาะบุคคล การนำข้อมูลดังกล่าวไปใช้หรือเปิดเผยให้บุคคลอื่นใดล่วงรู้เป็นการกระทำที่ไม่ได้รับอนุญาติหากท่านมิได้เป็นบุคคลที่อีเมลฉบับนี้ระบุถึงแล้ว กรุณาลบอีเมลนี้ออกจากคอมพิวเตอร์ที่ท่านได้รับทั้งนี้ ขอขอบคุณหากท่านได้แจ้งผู้ส่งถึงการจัดส่งอีเมลที่ผิดพลาดด้วย\n\t**This e-mail (and/or attachments) is confidential and may be privileged. Use or disclosure of it by anyone other than a designated address is unauthorized. If you are not intented recipient, please deleate this e-mail from computer on which you received it. We thank you for notifying us immediately.
                                {{ end }}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <script>
      let text = document.getElementById("Disclaimer").innerHTML.replace(/(?:\\r\\n|\\r|\\n)/g, "<br>");
      document.getElementById("Disclaimer").innerHTML = text;

    </script>
  </body>
</html>
